<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="main-logo">
            <div class="heading">
                
                <h4><i class="fa-solid fa-tree"></i><a href="/home">Horizon Travels</a></h4>
            </div>
        </div>
        <div class="options">
            <div class="option">
                <p><a href="/home">Home</a></p>
            </div>
            <div class="option">
                <p><a href="/about">About</a></p>
            </div>
            <div class="option">
                <p><a href="/myaccount">My Bookings</a></p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="description">
            <!-- <div class="image">
                <img src="https://images.pexels.com/photos/1271619/pexels-photo-1271619.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
            </div> -->
            <div class="text">
                <p>
                    <pre>
                Welcome to Horizon Travels
    
                Discover Boundless Adventures Await!
    
                Embark on a journey with Horizon Travels, where every step leads to a new horizon
                and every moment is filled with the promise of unforgettable experiences. As avid
                travelers ourselves, we understand the thrill of exploration and the joy of discovering
                new destinations. Whether you're seeking serene landscapes, vibrant cultures, or thrilling
                adventures, we're here to turn your travel dreams into reality.
                    </pre>
                </p>
            </div>
            
        </div>
        <div class="faqs">
            <!-- <div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div>
            </div>
            <div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div>
            </div> -->
        </div><div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div>
            </div>
<div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div>
            </div><div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div>
            </div>
            <!-- <div class="faq">
                <div class="ques">
                Why Horizon?
            </div>
            <div class="ans">
                Horizon aims and commits fully upto its costumers. It ensures that all the hotels listed on the website are trusted. We provide best service at the best prices.
            </div> -->
            </div>
            
    </div>
    <footer>
        <div class="back">
            Back to top
        </div>
        <div class="foot-panel2">
            <ul>
                <li><h4>Across the Globe</h4></li>
                <li><a>Bali</a></li>
                <li><a>Bangkok</a></li>
                <li><a>Sydney</a></li>
                <li><a>New York</a></li>
                <li><a>Maldives</a></li>
                <li><a>Kashmir</a></li>
            </ul>
            
            <ul>
                <li>
                    <h4>Asia</h4>
                </li>
                <li><a>Singapore</a></li>
                <li><a>Kerala</a></li>
                <li><a>Goa</a></li>
                <li><a>Dubai</a></li>
                <li><a>Malaysia</a></li>
                <li><a>Lakshadweep</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Europe and Africa</h4>
                </li>
                <li><a>Switzerland</a></li>
                <li><a>London</a></li>
                <li><a>Cape Town</a></li>
                <li><a>Kuvuki Beach</a></li>
                <li><a>Pyramid odyssey</a></li>
                <li><a>Malta</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Americas</h4>
                </li>
                <li><a>New York</a></li>
                <li><a>Toronto</a></li>
                <li><a>Panama</a></li>
                <li><a>The Carribean</a></li>
                <li><a>Argentina</a></li>
                <li><a>Ushuana</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Connect With Us</h4>
                </li>
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
                
            </ul>

        </div>

        <div class="foot-panel3">
            <div class="logo">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>

        <div class="foot-panel4">
            <div class="pages">
               <div class="condn">Conditions of use</div>
               <div class="condn">Privacy Notice</div>
               <div class="condn">Your Ads Privacy Choices</div>
            </div>
            <div class="copyright">
                &copy Horizon Travels
            </div>
        </div>
    </footer>
</body>
</html>
