<div class="description-card">
            <div class="text">
                <h4>Why Horizon Travels?</h4>
            <p>Horizon Travels is a travel and tour website which aims at curing the sense of wanderlust of our consumers and provide them with the best accomodations with the help of our all new AI assistant, Horizon AI.</p>
            <p>From beautiful landscapes to exciting beaches, we got you covered.</p>
            </div>
            <img src="../images/landscapce.webp" alt="">
        </div>