<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Travels Home Page</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="main-logo">
            <div class="heading">
                
                <h4><i class="fa-solid fa-tree"></i><a href="/home">Horizon Travels</a></h4>
            </div>
        </div>
        <div class="options">
            <div class="option">
                <p><a href="/home">Home</a></p>
            </div>
            <div class="option">
                <p><a href="/about">About</a></p>
            </div>
            <div class="option">
                <p><a href="">My Bookings</a></p>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="card">
            <div class="img-box">
                <img src="/images/earth-view.webp" alt="">
            </div>
            <div class="content">
                <!-- <h2>Enter City:</h2>
                <input type="text" placeholder="For e.g. Delhi"/> -->
                <div class="search-btn">
                    <button><a href="/search">Search for destinations</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="cards">
        <h2>Top hotels: </h2>
        <div class="hotel-cards">
            <div class="hotel-card">
                <div class="image-box">
                <img src="/images/holiday-inn-london.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>Holiday Inn, London</h5>
                </div>
            </div>
            <div class="hotel-card">
                <div class="image-box">
                <img src="/images/the-taj-mum.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>The Taj, Mumbai</h5>
                </div>
            </div>
            <div class="hotel-card">
                <div class="image-box">
                <img src="/images/le-bristol-paris.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>Hotel Le Bristol, Paris</h5>
                </div>
            </div>
        </div>
        <div class="hotel-cards">
            <div class="hotel-card">
                <div class="image-box">
                    <img src="/images/tokyo.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>Mandarin Oriental, Tokyo</h5>
                </div>
            </div>
            <div class="hotel-card">
                <div class="image-box">
                <img src="/images/kashmir.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>Kashmir Holiday Resort, Kashmir</h5>
                </div>
            </div>
            <div class="hotel-card">
                <div class="image-box">
                <img src="/images/sydney.webp" alt="">
                </div>
                <div class="hotel-content">
                    <h5>Establishment Hotel, Sydney</h5>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="back">
            Back to top
        </div>
        <div class="foot-panel2">
            <ul>
                <li><h4>Across the Globe</h4></li>
                <li><a>Bali</a></li>
                <li><a>Bangkok</a></li>
                <li><a>Sydney</a></li>
                <li><a>New York</a></li>
                <li><a>Maldives</a></li>
                <li><a>Kashmir</a></li>
            </ul>
            
            <ul>
                <li>
                    <h4>Asia</h4>
                </li>
                <li><a>Singapore</a></li>
                <li><a>Kerala</a></li>
                <li><a>Goa</a></li>
                <li><a>Dubai</a></li>
                <li><a>Malaysia</a></li>
                <li><a>Lakshadweep</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Europe and Africa</h4>
                </li>
                <li><a>Switzerland</a></li>
                <li><a>London</a></li>
                <li><a>Cape Town</a></li>
                <li><a>Kuvuki Beach</a></li>
                <li><a>Pyramid odyssey</a></li>
                <li><a>Malta</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Americas</h4>
                </li>
                <li><a>New York</a></li>
                <li><a>Toronto</a></li>
                <li><a>Panama</a></li>
                <li><a>The Carribean</a></li>
                <li><a>Argentina</a></li>
                <li><a>Ushuana</a></li>
            </ul>
            <ul>
                <li>
                    <h4>Connect With Us</h4>
                </li>
                <li><a>Facebook</a></li>
                <li><a>Twitter</a></li>
                <li><a>Instagram</a></li>
                
            </ul>

        </div>

        <div class="foot-panel3">
            <div class="logo">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="logo">
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>

        <div class="foot-panel4">
            <div class="pages">
               <div class="condn">Conditions of use</div>
               <div class="condn">Privacy Notice</div>
               <div class="condn">Your Ads Privacy Choices</div>
            </div>
            <div class="copyright">
                &copy Horizon Travels
            </div>
        </div>
    </footer>
</body>
</html>
