<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/stylesheets/signup.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="left-card">
          <h4>Horizon Travels</h4>
          <p>Welcome to</p>
          <p>Horizon Travels</p>
          <p class="caption">We make travel and tourism easier</p>
          <div class="container">
            <form action="/" method="post">
                <div class="input-field">
                    <label for="name"><i class="fa-solid fa-user"></i></label>
                    <input type="text" name="name" placeholder="Enter username">
                </div>
              <div class="input-field">
                <label for="email">
                  <i class="fa-solid fa-envelope"></i>
                </label>
                <input
                  type="text"
                  name="email"
                  placeholder="Enter your email here"
                />
              </div>
              <div class="input-field">
                <label for="password">
                  <i class="fa-solid fa-lock"></i>
                </label>
                <input
                  type="password"
                  name="password"
                  placeholder="Enter your password here"
                />
              </div>
              <div class="login">
                <button class="login-btn">Sign Up</button>
              </div>
              <p class='comment'>
                Already have an account, Login here
              </p>
              <div class="login">
                <button class="login-btn"><a href="/login">Log In</a></button>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
<script src="/javascript/signup.js"></script>
</html>